.bodyBack{
    background-color: #1ABC9C;
}
.navBarSet{
    color: #1ABC9C;
    font-size: 19px;
    background: #fff;
}
.navbarApp{
    display: none;
}
.contentSite{
    background-color: #1ABC9C;
}
.icoUser{
    margin: 5px 28px 0px 5px;
}
.appName{
    display: block;
    margin: -27px 0px 0px 0px;
    text-align: center;
}
.userName{
    display: block;
    text-align: right;
    margin: -26px 21px 0px 0px;
}
.navTab{
    color: #1ABC9C;
    width: 100%;
    background: #fff;
    margin-top: -3px;
    padding-top: 10px;
}
.btnTab{
    margin: 2px 2px;
    color: #1ABC9C!important;
    background: #fff!important;
}
.btnTabAct{
    color: #fff!important;
    background: #1ABC9C!important;
}
.icoLogOut{
    float: right;
    display: block;
    margin: -22px 0px 18px 0px;
    cursor: pointer;
}
.errorblankInpt {
    border-color: #f54f4f!important;
    outline: 0!important;
    -webkit-box-shadow: inset 0 0 3px 2px #ff0000ad!important;
    box-shadow: inset 0 0 3px 2px #ff0000ad!important;
}
.userLogIco{
    font-size: 10em;
    color:#fff;
}
.spacerForm{
    padding:0px 15px 0px 15px;
}
.registerLink{
    padding: 7px 10px;
    background: #fff;
    border: 2.4px solid #0095ff;
    border-radius: 5px;
    font-weight: 550;
    color: #0095ff;
}

.registerLink:focus{
    color: #0095ff;
    text-decoration: none;
}

.registerLink:hover{
    color: #0095ff;
    text-decoration: none;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btnGro{
    background-color: #007bff!important;
    color:#fff!important;
}
spacerapp{
    display: block;
    height: 10px;
}
.alert-app-error{
    padding: 7px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
/* grocerylist css*/
itemlist{
    color: #1ABC9C;
    font-weight: 600;
}
numberitemlist{
    float: right;
    padding-right: 15%;
    font-weight: 600;
    color: #1ABC9C;
}
.crossBtn{
    float: right;
    font-size: 1.5em;
    color: red;
}
/*toast CSS rule*/
#appToast {
    visibility: hidden;
    min-width: 245px;
    margin-left: -125px;
    background-color: #007bff!important;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50.6%;
    bottom: 30px;
    font-size: 15px;
}

#appToast.show {
    visibility: visible;
    -webkit-animation: fadeinToast 0.5s, fadeoutToast 0.5s 4.5s;
    animation: fadeinToast 0.5s, fadeoutToast 0.5s 4.5s;
}

@-webkit-keyframes fadeinToast {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeinToast {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeoutToast {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeoutToast {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#appToastGro {
    visibility: hidden;
    min-width: 245px;
    margin-left: -125px;
    background-color: #007bff!important;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50.6%;
    bottom: 68px;
    font-size: 15px;
}

#appToastGro.show {
    visibility: visible;
    -webkit-animation: fadeinToastgro 0.5s, fadeoutToastGro 0.5s 4.5s;
    animation: fadeinToastgro 0.5s, fadeoutToastGro 0.5s 4.5s;
}

@-webkit-keyframes fadeinToastgro {
    from {bottom: 68px; opacity: 0;}
    to {bottom: 68px; opacity: 1;}
}

@keyframes fadeinToastgro {
    from {bottom: 68px; opacity: 0;}
    to {bottom: 68px; opacity: 1;}
}

@-webkit-keyframes fadeoutToastGro {
    from {bottom: 68px; opacity: 1;}
    to {bottom: 68px; opacity: 0;}
}

@keyframes fadeoutToastGro {
 from {bottom: 68px; opacity: 1;}
    to {bottom: 68px; opacity: 0;}
}
#errorLabel{
    color: #1ABC9C;
    font-size: 20px;
    background: #fff;
    margin-left: 19%;
    margin-right: 19%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
}
.md-select-icon{
    color:#1ABC9C!important;
}
md-select:not([disabled]):focus .md-select-value{
	color:#1ABC9C!important;
	border-bottom-color: #fff;
}
.graphContainer{
    width: 95%;
    background: #fff;
    border-radius: 13px;
    padding-top: 20px;
    margin-left: 2.5%;
    padding-bottom:8px;
}
.selectData{
    color:#1ABC9C!important;
    background-color: #fff;
}
.inputItem{
    bottom: 13px;
    position: fixed;
    margin-right: 16px;
}
.addBtn{
    margin-top: 0px!important;
    background: #fff!important;
}
.plusIcoItem{
    color:#1ABC9C!important;
    font-size: 1.5em;
    margin-top: 3px;
}
.shoppList{
    margin: 1px 8px 8px 8px;
    max-height: 455px;
    overflow-y: scroll;
    transition:0.3s;
}
.check-item{
    opacity: 0.8;
}
.disable-btn{
    pointer-events:none;
}
.myItem:focus{
    outline: 0;
}
.inputItemTxt{
    border-radius: 60px!important;
    height: 40px;
    font-size: 17px;
    color:#1ABC9C;
}
.inputCurrency{
    color:#1ABC9C;
    border-radius: 60px!important;
}
.fabComplete{
    bottom: 60px!important;
    right: 8px!important;
    background-color: #007bff!important;
    transform: scale(0);
}
.cartIco{
    font-size: 1.5em;
    margin-top: 1px;
}

.modalXBtn{
    color:#fff;
    opacity: 1;
}
.modalComplete{
    box-shadow: 0 3px 9px 1px #cccccc4d;
    -webkit-box-shadow: 0 3px 9px 1px #cccccc4d;
    border:0px;
}

.modalFooter{
    background-color: #1ABC9C;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 3px;
}

.modalTitle{
    color:#fff;
    background-color:#1ABC9C;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #ccc;
}

.modalBody{
    border-bottom: 1px solid #ccc;
    color:#fff;
    background-color:#1ABC9C;
}
numberrecap{
    float: right;
    margin-right: 10%;
}
itemrecap{
    margin-left: 5%;
}
.loginInput{
    border-radius:60px;
    color: #1ABC9C;
}
.leftNum{
    font-size: 1.2em;
    margin-right: 10px;
}
.leftNum:focus{
    outline:0;
}
.rightNum{
    font-size: 1.2em;
    margin-left: 10px;
}
.rightNum:focus{
    outline:0;
}
.modalList{
    max-height: 270px;
    overflow-y: scroll;
    transition: 0.3s;
}
.overlayOffline{
    background-color: #1ABC9C;
    border-radius: 4px;
    height: 20%;
    box-shadow: 0 3px 9px 1px #cccccc4d;
    -webkit-box-shadow: 0 3px 9px 1px #cccccc4d;
    border: 0px;
    color: #fff;
    font-size: 16px;
    text-align:center;
    padding-top: 25px;
}
 @media (min-width: 650px) {
    .shoppList {
        max-height: 186px;
    }
    .modalList{
        max-height: 100px;
    }
}