<div class="contentSite">
    <form ng-submit="addItem()" class="inputItem" autocomplete="off">
        <div class="input-group">
            <input type="text" id="item" class="form-control inputItemTxt" placeholder="Add item to your shopping list..." ng-model="item" />
            <div class="input-group-btn">
                 <md-button class="md-fab md-mini md-primary addBtn" aria-label="add item" type="submit">
                    <md-icon class="fa fa-plus plusIcoItem" ></md-icon>
                </md-button>
            </div>
        </div>
    </form>
    <spacerapp></spacerapp>
    <div id="groceryListPrint" class="list-group shoppList">
        <div id='i{{$index}}' class="myItem list-group-item" ng-repeat="x in products" ng-click="checkItem($index,$event)">
            <i id='x{{$index}}' ng-click="removeItem($index)" class="crossBtn fa fa-times actBtnGro{{$index}}"></i>
            <itemlist>{{x.item}}</itemlist><numberitemlist><i id='r{{$index}}' class="fa fa-caret-left leftNum actBtnGro{{$index}}" ng-click="removeNum($index)"></i> {{x.numberitem}} <i id='a{{$index}}' class="fa fa-caret-right rightNum actBtnGro{{$index}}" ng-click="addNum($index)"></i></numberitemlist>
        </div>
    </div>
    <md-button id="completeBtn" class="md-fab md-mini md-primary md-fab-bottom-right fabComplete" aria-label="Complete" data-toggle="modal" data-target="#completeShopping">
          <md-icon class="fa fa-shopping-cart cartIco"></md-icon>
    </md-button>
    <div id="appToastGro" class="Toast"></div>
    <!-- Modal-Component-Directive -->
    <modal-complete products="products"></md-complete>
</div>
