<div class="contentSite">
    <form ng-submit="addItem()" class="inputItem" autocomplete="off">
        <div class="input-group">
            <input type="text" id="item" class="form-control inputItemTxt" placeholder="Add item to your shopping list..." ng-model="item" ng-keydown="checkKeyInput($event)"/>
            <div class="input-group-btn">
                 <md-button class="md-fab md-mini md-primary addBtn" aria-label="add item" type="submit">
                    <md-icon class="fa fa-plus plusIcoItem" ></md-icon>
                </md-button>
            </div>
        </div>
    </form>
    <spacerapp></spacerapp>
    <div id="groceryListPrint" class="list-group shoppList">
        <div id='i{{$index}}' class="myItem list-group-item" ng-repeat="x in products" ng-click="checkItem($index,$event)">
            <i id='x{{$index}}' ng-click="removeItem($index)" class="crossBtn fa fa-times"></i>
            <itemlist>{{x.item}}</itemlist><numberitemlist><i id='r{{$index}}' class="fa fa-caret-left leftNum" ng-click="removeNum($index)"></i> {{x.numberitem}} <i id='a{{$index}}' class="fa fa-caret-right rightNum" ng-click="addNum($index)"></i></numberitemlist>
        </div>
    </div>
    <md-button id="completeBtn" class="md-fab md-mini md-primary md-fab-bottom-right fabComplete" aria-label="Complete" data-toggle="modal" data-target="#completeShopping">
          <md-icon class="fa fa-shopping-cart cartIco"></md-icon>
    </md-button>
    <div id="appToastGro" class="Toast"></div>
    <!-- Modal -->
    <div id="completeShopping" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modalComplete">
          <div class="modal-header modalTitle">
            <button type="button" class="close modalXBtn" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Shopping done</h4>
          </div>
          <div class="modal-body modalBody">
            <p style="font-size: 15px;">Recap list</p>
            <ul class="modalList">
                <li ng-repeat="x in products"><itemrecap>{{x.item}}</itemrecap> <numberrecap>{{x.numberitem}}</numberrecap></li>
            </ul>
             <p>Total spent</p>
              <input id="totalSpent" type="number" class="form-control inputCurrency" placeholder="Enter the total spent of the list..." />
          </div>
          <div class="modal-footer modalFooter">
            <md-button id="saveDataBtn" class="md-raised btnGro" ng-click="saveData()">Save</md-button>
          </div>
        </div>
      </div>
    </div>
</div>
